#Card1{ 
    position: absolute;
width: 319px;
height: 150px;
left: 47px;
top: -40px;

border: 5px solid #000000;
border-radius: 20px;

#South{
    position: initial;
text-align: center;
margin: auto;
font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
}

.Imperial {
    position: absolute;
width: 168px;
height: 66px;
left: 34px;
top: 154px;

background: #79B251;
border: 3px solid #000000;
border-radius: 10px;


}
#imp{
width: 98px;
height: 29px;
left: 70px;
top: 173px;
text-align: center;
margin: auto;

font-family: Tamil MN;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
}
}

