


<ion-content [fullscreen]="true">
  <ion-card id="Card1">
    <ion-card-header>
      <ion-card-title> Los Angeles
    
      </ion-card-title>
      <ion-card-title>-</ion-card-title>
      <ion-card-title>CA</ion-card-title>
    </ion-card-header>
  
  </ion-card>

  <ion-grid>
    <ion-row>

      <ion-col>
        <div class="inner-cards" (click)="nav('/programs')">
         East LA
        </div>
      </ion-col>

      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         West LA
        </div>
      </ion-col>

      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         South Central
        </div>
      </ion-col>
      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         Glendale
        </div>
      </ion-col>
      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         Hollywood
        </div>
      </ion-col>
      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         Burbank
        </div>
      </ion-col>
      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         Hidden Hills
        </div>
      </ion-col>
      <ion-col>
        <div class="inner-cards" (click)="nav('/about')">
         Long Beach
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>




  
