ion-card{
    width: 55% ;
    height: 120px ;
    position: initial;
    margin: auto;
    background-color:rgb(122, 179, 81, 1) ;
    
}
ion-card-title {
    text-align: center;
}

.inner-cards{
    height: 60px;
    width:170px;
    position: initial;
    margin: auto;
    background-color:rgb(122, 179, 81, 1) ;
    border-radius: 5px;
    padding: 16px;
    text-align: center

    
}

#Card1{
    top: 110px;
    background-color: rgba(239,239,239,84);

}

.bruh{
    font-size: 20px;
}
